<h3 class="page-header">Modification Details</h3>
<h4></h4>
<div class="row">
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item"><b>Company:</b> {{modification?.model?.brand?.company.companyName}}</li>
            <li class="list-group-item"><b>Brand:</b> {{modification?.model?.brand.brandName}}</li>
            <li class="list-group-item"><b>Country:</b> {{modification?.model?.brand.country}}</li>
            <li class="list-group-item"><b>Model:</b> {{modification?.model.modelName}}</li>
            <li *ngIf="modification?.model.generation" class="list-group-item"><b>Generation:</b> {{modification?.model.generation}}</li>
            <li *ngIf="modification?.model.codeName" class="list-group-item"><b>Code:</b> {{modification?.model.codeName}}</li>
            <li *ngIf="modification?.model.isFacelifted; else notFaceliftedBlock" class="list-group-item"><b>Is Facelifted?:</b> Yes</li>
            <ng-template #notFaceliftedBlock>
                <li class="list-group-item"><b>Is Facelifted ?:</b> No</li>
            </ng-template>
            <li class="list-group-item"><b>Segment:</b> {{modification?.model.segment}}</li>
            <li class="list-group-item"><b>Modification:</b> {{modification?.modificationName}}</li>
            <li class="list-group-item"><b>Car Class:</b> {{modification?.carClass}}</li>
            <li *ngIf="modification?.productionStartDate" class="list-group-item"><b>Production Start Date:</b> {{modification?.productionStartDate}}</li>
            <li *ngIf="modification?.productionEndDate" class="list-group-item"><b>Production End Date:</b> {{modification?.productionEndDate}}</li>
            <li class="list-group-item"><b>Fuel Type:</b> {{modification?.fuelType}}</li>
            <li *ngIf="modification?.engineCode" class="list-group-item"><b>Engine Code:</b> {{modification?.engineCode}}</li>
            <li class="list-group-item"><b>Cylinder Position:</b> {{modification?.cylinderPosition}}</li>
            <li class="list-group-item"><b>Cylinder Count:</b> {{modification?.cylinderCount}}</li>
            <li class="list-group-item"><b>Cylinder Displacement:</b> {{modification?.cylinderDisplacement}} cc ({{modification?.roundedCylinderDisplacement}} l)</li>
            <li class="list-group-item"><b>Power:</b> {{modification?.power}} hp</li>
            <li *ngIf="modification?.torque" class="list-group-item"><b>Torque:</b> {{modification?.torque}} Nm</li>
            <li *ngIf="predecessorModels.length!=0" class="list-group-item" >
                <b>Predecessors: <br/></b>
                <div *ngFor="let item of predecessorModels">
                    <a  routerLink="/model/modification/{{item.id}}">{{item.brand.brandName}} {{item.modelName}} {{item.codeNameorGeneration}}<br/></a>
                </div>
                
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="list-group">
            <li *ngIf="modification?.maxSpeed" class="list-group-item"><b>Top Speed:</b> {{modification?.maxSpeed}} km/h</li>
            <li *ngIf="modification?.acceleration0to100" class="list-group-item"><b>Acceleration (0-100):</b> {{modification?.acceleration0to100}} sec</li>
            <li *ngIf="modification?.transmissionType" class="list-group-item"><b>Transmission Type:</b> {{modification?.transmissionType}}</li>
            <li *ngIf="modification?.transmission" class="list-group-item"><b>Transmission:</b> {{modification?.transmission}}</li>
            <li *ngIf="modification?.gearCount" class="list-group-item"><b>Gear Count:</b> {{modification?.gearCount}}</li>
            <li *ngIf="modification?.driveWheel" class="list-group-item"><b>Drive Wheel:</b> {{modification?.driveWheel}}</li>
            <li *ngIf="modification?.turbine" class="list-group-item"><b>Turbine:</b> {{modification?.turbine}}</li>
            <li *ngIf="modification?.engineLocation" class="list-group-item"><b>Engine Location:</b> {{modification?.engineLocation}}</li>
            <li *ngIf="modification?.enginePosition" class="list-group-item"><b>Engine Position:</b> {{modification?.enginePosition}}</li>
            <li *ngIf="modification?.fuelConsumptionUrban" class="list-group-item"><b>Fuel Consumption Urban:</b> {{modification?.fuelConsumptionUrban}} l/100 km</li>
            <li *ngIf="modification?.fuelConsumptionExtraUrban" class="list-group-item"><b>Fuel Consumption Extra Urban:</b> {{modification?.fuelConsumptionExtraUrban}} l/100 km</li>
            <li *ngIf="modification?.fuelConsumptionCombined" class="list-group-item"><b>Fuel Consumption Combined:</b> {{modification?.fuelConsumptionCombined}} l/100 km</li>
            <li *ngIf="modification?.length" class="list-group-item"><b>Length:</b> {{modification?.length}} mm</li>
            <li *ngIf="modification?.weight" class="list-group-item"><b>Weight:</b> {{modification?.weight}} kg</li>
            <li class="list-group-item"><b>Body Type:</b> {{modification?.bodyType}}</li>
            <li class="list-group-item"><b>Door Count:</b> {{modification?.doorCount}}</li>
            <li class="list-group-item"><b>Seat Count:</b> {{modification?.seatCount}}</li>
            <li *ngIf="modification?.range" class="list-group-item"><b>Range:</b> {{modification?.range}} km</li>
            <li *ngIf="successorModels.length!=0" class="list-group-item" >
                <b>Successors: <br/></b>
                <div *ngFor="let item of successorModels">
                    <a  routerLink="/model/modification/{{item.id}}">{{item.brand.brandName}} {{item.modelName}} {{item.codeNameorGeneration}}<br/></a>
                </div>
            </li>
        </ul>
        <a routerLink="/modification/edit/{{modification?.id}}" class="btn btn-xs btn-primary pull-right">Edit
            Modification</a>
    </div>
</div>
